<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auction {{ auction_id }} Vehicle Purchased</title>
</head>
<body>
    <p>
        Congratulations! You have purchased a vehicle from auction <strong>{{ auction_id }}</strong>.
        Your gate key is {{ buyer_gate_key }}
        You will now be able to take the transportation or pick yourself up.
    </p>
    <p>
        Thanks for staying on track!
    </p>
    <p>
        Best Regards,
    </p>
    <p>
        AWD Auctions
    </p>
</body>
</html>