<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auction {{ auction_id }} Vehicle Sold</title>
</head>
<body>
    <p>
        Congratulations! Your vehicle with auction <strong>{{ auction_id }}</strong> has been sold successfully.
        Your seller gate key is {{ seller_gate_key }}. It is confidential, so only provide it to buyer or transporter only.
        Buyer will get in touch in with you for a further process.
    </p>
    <p>
        Thanks for staying on track!
    </p>
    <p>
        Best Regards,
    </p>
    <p>
        AWD Auctions
    </p>
</body>
</html>