<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seller Dual Gate Key</title>
</head>
<body>
    <p>
        Your seller dual gate key for auction id {{ auction_id }} is {{ seller_dual_gate_key }}. Please keep it confidential, and
        it will be asked by the transporter for verification purpose before picking up the vehicle.
    </p>
    <p>
        Thanks for staying on track!
    </p>
    <p>
        Best Regards,
    </p>
    <p>
        AWD Auctions
    </p>
</body>
</html>