<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transportation Job Accepted</title>
</head>
<body>
    <p>
        Thanks for picking up the transportation job that has a job id {{ job_id }}.
        Please make sure to update the transportation job tracking status on each step for keeping a buyer up to date.
        The gate key of a buyer is: {{ buyer_gate_key }} and the seller is: {{ seller_gate_key }}. Gate keys are
         confidential, so don't provide them to anyone and verify them before picking up the vehicle and delivering it to buyer.
    </p>
    <p>
        Thanks for staying on track!
    </p>
    <p>
        Best Regards,
    </p>
    <p>
        AWD Auctions
    </p>
</body>
</html>